sources/build2/
sources/build/
sources/ROOT_files/
analysis/filtred_data/*.root
analysis/ionization_check/
Draw
analysis/Event_display/eventDisplay.root
analysis/Event_display/rndm_Events/
analysis/Event_display/sigma_minus/
analysis/Event_display/tail_pbar/
analysis/Event_display/test/
analysis/ionization_check/
analysis/macros/*.root
analysis/macros/*.txt
analysis/macros/logHistRic/
analysis/macros/OLD/
sources/Geant4_Ric/
*.root
analysis/ionization_check/
*.pdf
.vscode/